dist/components/*
dist/_components/*
dist/angular/*
node_modules/*
data/reports/*
data/test_*/*

data/burns.json
data/nsw-incidents.json
data/vic-incidents.json
data/regions.json

santa*

inalacourt.sh
go.sh

.idea/*
*.iml
