.leaflet-div-icon {
  background: transparent;
  border: none;
}

.dyna-icon {
  color: black;
  text-shadow: -1px -1px 1px #CCC, 1px -1px 1px #CCC, -1px 1px 1px #CCC, 1px 1px 1px #CCC;
  font-weight: bolder;
  white-space: nowrap;
}

.dyna-icon .icon {
  float: left !important;
  height: 28px;
  width: 28px;
}

.dyna-icon .active {
  background-image: url("/images/red.png");
}

.dyna-icon .stationary {
  background-image: url("/images/orange.png");
}

.asset-title {
  margin-top: 10px;
}

.asset-title,
.asset-details {
  clear: both;
  margin-left: 30px;
}
