.flyover {
  background: #DDD;
  width: 10px;
  padding: 0;
}

.flyover.open {
  padding-left: 5px;
  width: 200px;
}

.flyover #flyover-content {
  width: 0;
}

.flyover.open #flyover-content {
  width: 100%;
}

#map .leaflet-right {
  margin-right: 10px;
}

#map.flyover-open .leaflet-right {
  margin-right: 205px;
}
