<style>
  .dropdown-menu {
    z-index: 10000;
  }

  .dropdown-submenu {
    position: relative;
  }

  .dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px 6px;
    border-radius: 0 6px 6px 6px;
  }

  .dropdown-submenu:hover>.dropdown-menu {
    display: block;
  }

  .dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #cccccc;
    margin-top: 5px;
    margin-right: -10px;
  }

  .dropdown-submenu:hover>a:after {
    border-left-color: #ffffff;
  }

  .dropdown-submenu.pull-left {
    float: none;
  }

  .dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
  }
</style>
<script type="text/ng-template" id="nafc_playback_control.html">
  <div class="navbar navbar-default" role="navigation">
    <div class="">
      <ul class="nav navbar-nav">

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            {{ selected.name || 'Select Track' }} <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li id="{{ dropdown-category }}" class="dropdown-submenu" ng-repeat="category in ['Aircraft','Helicopter']">
              <a href="#" class="dropdown-toggle" data-toggle="{{ dropdown-category }}">{{ category }}</a>
              <ul class="dropdown-menu">
                <li ng-repeat="asset in available | byType:category | orderBy:'name'">
                  <a ng-click="select({asset:asset})">{{ asset.name }}</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>

        <li class="ctrl">
          <a id="backward"><span class="glyphicon glyphicon-backward"></span></a>
        </li>
        <li class="ctrl">
          <a id="fast-backward"><span class="glyphicon glyphicon-fast-backward"></span></a>
        </li>
        <li class="ctrl">
          <a id="step-backward"><span class="glyphicon glyphicon-step-backward"></span></a>
        </li>
        <li class="ctrl">
          <a id="play" ng-click="toggle()"><span class="glyphicon glyphicon-{{ playing ? 'pause' : 'play' }}"></span></a>
        </li>
        <li class="ctrl">
          <a id="step-forward"><span class="glyphicon glyphicon-step-forward"></span></a>
        </li>
        <li class="ctrl">
          <a id="fast-forward"><span class="glyphicon glyphicon-fast-forward"></span></a>
        </li>
        <li class="ctrl">
          <a id="forward"><span class="glyphicon glyphicon-forward"></span></a>
        </li>

        <li>
          <a href="">{{ current.time | date:'medium' }}</a>
        </li>

      </ul>

      <!--
      <ul class="nav pull-right">
        <li>
          <div id="time-slider"></div>
        </li>
        <li class="ctrl dropup">
          <a id="speed-btn" data-toggle="dropdown" href="#"><i class="icon-dashboard icon-large"></i>
            <span id="speed-icon-val" class="speed">1</span>x</a>

          <div class="speed-menu dropdown-menu" role="menu" aria-labelledby="speed-btn">
            <label>Playback<br/>Speed</label>
            <input id="speed-input" class="span1 speed" type="text" value="1"/>

            <div id="speed-slider"></div>
          </div>
        </li>
        <li class="ctrl">
          <a id="load-tracks-btn" href="#"><i class="icon-map-marker icon-large"></i> Tracks</a>
        </li>
      </ul>
      -->
    </div>
  </div>
</script>

<div ng-controller="Playback">

  <div>
    <nafc-playback-control available="available" selected="selected" playing="playing" current="current"
                           select="select(asset)" toggle="togglePlayback()"/>
  </div>

  <div>
    <leaflet id="playback" center="canberra" defaults="defaults">
    </leaflet>
  </div>

</div>
