<style>
  .leaflet-container {
    background: black;
  }

  .leaflet-tile-pane {
    opacity: 0.65;
  }

  .flyover {
    background: #DDD;
    width: 10px;
    padding: 0;
  }

  .rotate {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  }

  #container.flyover-open #flyover {
    padding-left: 5px;
    width: 200px;
  }

  .flyover #flyover-content {
    width: 0;
  }

  #container.flyover-open #flyover-content {
    width: 100%;
  }

  #container .leaflet-right {
    margin-right: 10px;
  }

  #container.flyover-open .leaflet-right {
    margin-right: 205px;
  }
</style>
<div id="container" ng-controller="Tracking">
  <leaflet center="melbourne" defaults="defaults" layers="layers">
    <div id="flyover" class="flyover" style="position: absolute; z-index: 5000; top: 0; right: 0; height: 100%;">
      <span id="flyover-toggle" style="cursor: pointer;" ng-click="toggleFlyover()">&lt;</span>
      <div id="flyover-content"></div>
    </div>
  </leaflet>
</div>
